<!DOCTYPE HTML>
<html>
	<body>
		<h1>My Body Clock</h1>
    <p>See where you are in your day.</p>
    <style>
line {
  stroke-width: 3px;
  stroke: black;
}
.eventLine {
  stroke-width: 2px;
  stroke: blue;
}
#clock-box {
  padding-right: 100px;
  padding-left: 100px;
}
    </style>
    <div id="clock-box">
      <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000">
        <g>
          <circle id="circle" style="stroke: black; fill: #f8f8f8;" cx="300" cy="300" r="300"></circle>
          <line id="hour0" x1="300.0" y1="30.0" x2="300.0" y2="0.0"></line>
          <line id="hour1" x1="369.88114218659575" y1="39.20002690434035" x2="377.645713540662" y2="10.22225211593377"></line>
          <line id="hour2" x1="435.00000001598625" y1="66.17314098743122" x2="450.0000000177625" y2="40.19237887492358"></line>
          <line id="hour3" x1="490.9188309399469" y1="109.0811690992112" x2="512.1320343777187" y2="87.86796566579022"></line>
          <line id="hour4" x1="533.8268590402577" y1="165.00000003197246" x2="559.8076211558418" y2="150.00000003552495"></line>
          <line id="hour5" x1="560.7999731099925" y1="230.1188578668952" x2="589.7777478999917" y2="222.35428651877243"></line>
          <line id="hour6" x1="570.0" y1="300.00000005537794" x2="600.0" y2="300.000000061531"></line>
          <line id="hour7" x1="560.7999730813267" y1="369.8811422400868" x2="589.7777478681408" y2="377.6457136000964"></line>
          <line id="hour8" x1="533.8268589848799" y1="435.00000006394487" x2="559.8076210943109" y2="450.0000000710499"></line>
          <line id="hour9" x1="490.9188308616307" y1="490.918830979105" x2="512.1320342907007" y2="512.1320344212278"></line>
          <line id="hour10" x1="434.99999992006883" y1="533.8268590679468" x2="449.9999999111876" y2="559.8076211866074"></line>
          <line id="hour11" x1="369.8811420796138" y1="560.7999731243253" x2="377.6457134217931" y2="589.7777479159171"></line>
          <line id="hour12" x1="299.9999998892441" y1="570.0" x2="299.9999998769379" y2="600.0"></line>
          <line id="hour13" x1="230.1188577064224" y1="560.799973066994" x2="222.35428634046934" y2="589.7777478522155"></line>
          <line id="hour14" x1="164.99999988809628" y1="533.8268589571908" x2="149.99999987566252" y2="559.8076210635454"></line>
          <line id="hour15" x1="109.08116898173691" y1="490.9188308224726" x2="87.86796553526324" y2="512.1320342471918"></line>
          <line id="hour16" x1="66.17314090436435" y1="434.99999987211015" x2="40.19237878262703" y2="449.9999998579002"></line>
          <line id="hour17" x1="39.20002686134177" y1="369.88114202612286" x2="10.222252068157559" y2="377.6457133623587"></line>
          <line id="hour18" x1="30.0" y1="299.99999983386624" x2="0.0" y2="299.9999998154069"></line>
          <line id="hour19" x1="39.20002694733898" y1="230.1188576529313" x2="10.222252163709982" y2="222.3542862810348"></line>
          <line id="hour20" x1="66.1731410704981" y1="164.9999998401377" x2="40.19237896722012" y2="149.99999982237523"></line>
          <line id="hour21" x1="109.08116921668557" y1="109.08116894257878" x2="87.86796579631729" y2="87.8679654917542"></line>
          <line id="hour22" x1="165.00000017584853" y1="66.17314087667538" x2="150.00000019538726" y2="40.1923787518615"></line>
          <line id="hour23" x1="230.1188580273681" y1="39.20002684700893" x2="222.35428669707568" y2="10.222252052232136"></line>
        </g>
        <g>
          <line x1="300" y1="300" x2="46.39691668109029" y2="326.6547581332516" style="stroke-width: 4px; stroke: blue;" id="currenttime"></line>
        </g>
        <g>
        <% for (var i = 0; i < events.length; i++) { %>
        <% if (events[i].time == undefined) { %>
        <%
var timeParts = events[i].start.split(':');
var beginPercent = ((parseFloat(timeParts[0]) + parseFloat(timeParts[1])/60.0))/24.0;
var sin1 = Math.sin(beginPercent*2*3.141592654);
var cos1 = Math.cos(beginPercent*2*3.141592654);
timeParts = events[i].end.split(':');
var endPercent = ((parseFloat(timeParts[0]) + parseFloat(timeParts[1])/60.0))/24.0;
var sin2 = Math.sin(endPercent*2*3.141592654);
var cos2 = Math.cos(endPercent*2*3.141592654);
var textPercent = ((beginPercent + endPercent) % 1)/2.0;
var sinT = Math.sin(textPercent*2*3.141592654);
var cosT = Math.cos(textPercent*2*3.141592654);
        %>
        <line class="eventLine" id="eventLine<%= i %>"
          x1="<%= 200*sin1 + 300 %>" y1="<%= -(200)*cos1 + 300 %>"
          x2="<%= 200*sin2 + 300 %>" y2="<%= -(200)*cos2 + 300 %>">
        </line>
        <line class="eventLine" id="eventLineToEdgeS<%= i %>"
          x1="<%= 200*sin1 + 300 %>" y1="<%= -(200)*cos1 + 300 %>"
          x2="<%= 300*sin1 + 300 %>" y2="<%= -(300)*cos1 + 300 %>">
        </line>
        <line class="eventLine" id="eventLineToEdgeE<%= i %>"
          x1="<%= 200*sin2 + 300 %>" y1="<%= -(200)*cos2 + 300 %>"
          x2="<%= 300*sin2 + 300 %>" y2="<%= -(300)*cos2 + 300 %>">
        </line>
        <text x="<%= 200*sinT + 300 %>" y="<%= -(200)*cosT + 300%>" id="event<%= i %>"><%= events[i].name %></text>
        <% } else { %>
        <%
var timeParts = events[i].time.split(':');
var beginPercent = ((parseFloat(timeParts[0]) + parseFloat(timeParts[1])/60.0))/24.0;
var sin = Math.sin(beginPercent*2*3.141592654);
var cos = Math.cos(beginPercent*2*3.141592654);
        %>
        <line class="eventLine" id="eventLineToEdgeE<%= i %>"
          x1="<%= 300*sin + 300 %>" y1="<%= -(300)*cos + 300 %>"
          x2="<%= 310*sin + 300 %>" y2="<%= -(310)*cos + 300 %>">
        </line>
        <text transform="translate(<%= 320*sin + 300 %>,<%= -(320)*cos + 300 %>)rotate(<%= beginPercent*360 % 180 %>)" id="event<%= i %>"><%= events[i].name %></text>
        <% } %>
        <% } %>
        </g>
      </svg>
    </div>
    <a href="/example-clock">Example body clock</a>
	</body>
  <script>
function update_clock() {
  var now = new Date();
  var then = new Date(
          now.getFullYear(),
          now.getMonth(),
          now.getDate(),
          0,0,0);
  var ms_since_midnight = now.getTime() - then.getTime();
  var fraction_around = ms_since_midnight / (24*60*60*1000)
  var y = Math.cos(fraction_around*3.1415*2)
  var x = Math.sin(fraction_around*3.1415*2)
  var element = document.getElementById('currenttime');
  element.setAttribute('x2', x*290 + 300);
  element.setAttribute('y2', -y*290 + 300);
}
update_clock();
setInterval(update_clock, 1000);
  </script>
</html>
