<!DOCTYPE HTML>
<html>
	<body>
		<h1>My Body Clock</h1>
    <p>See where you are in your day.</p>
    <style>
line {
  stroke-width: 3px;
  stroke: black;
}
.eventLine {
  stroke-width: 2px;
  stroke: blue;
}
#clock-box {
  padding-right: 100px;
  padding-left: 100px;
}
.clockHour {
  font-weight: bold;
  font-size: 18px;
}
    </style>
<% var padding = 30; %>
    <div id="clock-box">
      <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000">
        <g>
          <circle id="circle" style="stroke: black; fill: #f8f8f8;" cx="<%= 300 + padding %>" cy="<%= 300 + padding %>" r="300"></circle>
          <% for (var hour = 0; hour < 24; hour ++) { %>
          <%
    var around = hour / 24.0;
    var sin = Math.sin(around*2*3.141592654);
    var cos = Math.cos(around*2*3.141592654);
    var x2 = 300*sin + 300 + padding;
    var x1 = (300-30)*sin + 300 + padding;
    var y2 = -(300)*cos + 300 + padding;
    var y1 = -(300-30)*cos + 300 + padding;
%>
          <line id="hour<%= i %>" x1="<%= x1 %>" y1="<%= y1 %>" x2="<%= x2 %>" y2="<%= y2 %>"></line>
          <% } %>
        </g>
        <g>
        <text class="clockHour" x="<%= 605 + padding %>" y="<%= 300 + padding + 5 %>">6</text>
        <text class="clockHour" x="<%= 300 + padding - 8 %>" y="<%= 615 + padding %>">12</text>
        <text class="clockHour" x="<%= -20 + padding %>" y="<%= 300 + padding + 5 %>">18</text>
        <text class="clockHour" x="<%= 300 + padding - 6 %>" y="<%= -5 + padding %>">24</text>
        </g>
        <g>
        <line x1="<%= padding + 300 %>" y1="<%= padding + 300 %>" x2="<%= padding + 46.39691668109029 %>" y2="<%= padding + 326.6547581332516 %>" style="stroke-width: 4px; stroke: blue;" id="currenttime"></line>
        </g>
        <g>
        <% for (var i = 0; i < events.length; i++) { %>
        <% if (events[i].time == undefined) { %>
        <%
var timeParts = events[i].start.split(':');
var beginPercent = ((parseFloat(timeParts[0]) + parseFloat(timeParts[1])/60.0))/24.0;
var sin1 = Math.sin(beginPercent*2*3.141592654);
var cos1 = Math.cos(beginPercent*2*3.141592654);
timeParts = events[i].end.split(':');
var endPercent = ((parseFloat(timeParts[0]) + parseFloat(timeParts[1])/60.0))/24.0;
var sin2 = Math.sin(endPercent*2*3.141592654);
var cos2 = Math.cos(endPercent*2*3.141592654);
var textPercent = ((beginPercent + endPercent))/2.0;
%>
<% if (beginPercent > endPercent) { %>
<% textPercent = ((beginPercent + endPercent) % 1)/2.0; %>
<% } %>
<%
var sinT = Math.sin(textPercent*2*3.141592654);
var cosT = Math.cos(textPercent*2*3.141592654);
        %>
        <line class="eventLine" id="eventLine<%= i %>"
          x1="<%= 200*sin1 + 300 + padding %>" y1="<%= -(200)*cos1 + 300 + padding %>"
          x2="<%= 200*sin2 + 300 + padding %>" y2="<%= -(200)*cos2 + 300 + padding %>">
        </line>
        <line class="eventLine" id="eventLineToEdgeS<%= i %>"
          x1="<%= 200*sin1 + 300 + padding %>" y1="<%= -(200)*cos1 + 300 + padding %>"
          x2="<%= 300*sin1 + 300 + padding %>" y2="<%= -(300)*cos1 + 300 + padding %>">
        </line>
        <line class="eventLine" id="eventLineToEdgeE<%= i %>"
          x1="<%= 200*sin2 + 300 + padding %>" y1="<%= -(200)*cos2 + 300 + padding %>"
          x2="<%= 300*sin2 + 300 + padding %>" y2="<%= -(300)*cos2 + 300 + padding %>">
        </line>
        <text transform="translate(<%= 200*sinT + 300 + padding %>,<%= -(200)*cosT + 300 + padding %>)rotate(<%= textPercent*360 % 90 %>)" id="event<%= i %>"><%= events[i].name %></text>
        <% } else { %>
        <%
var timeParts = events[i].time.split(':');
var beginPercent = ((parseFloat(timeParts[0]) + parseFloat(timeParts[1])/60.0))/24.0;
var sin = Math.sin(beginPercent*2*3.141592654);
var cos = Math.cos(beginPercent*2*3.141592654);
        %>
        <line class="eventLine" id="eventLineToEdgeE<%= i %>"
          x1="<%= 300*sin + 300 + padding %>" y1="<%= -(300)*cos + 300 + padding %>"
          x2="<%= 310*sin + 300 + padding %>" y2="<%= -(310)*cos + 300 + padding %>">
        </line>
        <text transform="translate(<%= 320*sin + 300 + padding %>,<%= -(320)*cos + 300 + padding %>)rotate(<%= beginPercent*360 % 90 %>)" id="event<%= i %>"><%= events[i].name %></text>
        <% } %>
        <% } %>
        </g>
      </svg>
    </div>
    <a href="/example-clock">Example body clock</a>
	</body>
  <script>
function update_clock() {
  var now = new Date();
  var then = new Date(
          now.getFullYear(),
          now.getMonth(),
          now.getDate(),
          0,0,0);
  var ms_since_midnight = now.getTime() - then.getTime();
  var fraction_around = ms_since_midnight / (24*60*60*1000)
  var y = Math.cos(fraction_around*3.1415*2)
  var x = Math.sin(fraction_around*3.1415*2)
  var element = document.getElementById('currenttime');
  element.setAttribute('x2', x*290 + 300 + <%= padding %>);
  element.setAttribute('y2', -y*290 + 300 + <%= padding %>);
}
update_clock();
setInterval(update_clock, 1000);
  </script>
</html>
